.main-heading {
    text-align: center;
    color: cadetblue;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.button {
    text-align: center;
    margin-bottom: 20px;
}

.color {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.color-badge {
    margin-left: 5px;
    margin-right: 3px;
    margin-bottom: 0px;
}

.control-buttons {
    margin-right: 10px;
}

.cards {
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

.item-heading {
    color: blueviolet;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}

.quantity {
    text-align: left;
    color: grey;
    font-weight: bold;
    font-size: 16px;
}

.danger {
    color: #dc3545;
    margin-right: 10px;
}

.success {
    color: #198754;
    margin-right: 10px;
}

.warning {
    color: #ffc107;
    margin-right: 10px;
}

.updateModal {
    display: flex;
    justify-content: center;
}

.electronic-image {
    width: 70%;
    height: 180px;
    margin-bottom: 10px;
}